/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-image: url('gifs/Spark.gif');
    background-repeat: repeat;
    background-size: 320px 320px; 
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    animation: dropIn 1.5s ease;
}

.header img {
    width: 850px;
    transition: transform 0.3s ease;
}

.header a:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    70% {
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

